@use 'src/styles/vars';

.nouscontacter {
  height: calc(100vh-137px);

 .cardsid{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: 75px auto;
  position: absolute;
  top: 25%;
  left: 10%;
 }
  .cardid {
    background-color: white;
    width: 260px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
  }

  img {
    border-radius: 200px;
    margin-bottom: vars.$gutter;
    margin-top: vars.$gutter*2;
    width: 150px;
  }

  h1 {
    text-transform: uppercase;
    font-weight: bold;
  }

  h2 {
    color: grey;
    font-size: .9em;
    margin-top: vars.$gutter*.2;
  }

  p {
    margin-top: vars.$gutter*.5;
    margin-bottom: vars.$gutter;

  }

}

.cardid__poste {
  margin: vars.$gutter;
}

.social {
  display: flex;
  justify-content: center;

  img {
    width: 40px;
    margin: vars.$gutter;
  }
}

@media screen and (max-width:1625px) {
  .nouscontacter {
    font-size: .9em;

    .cardsid{
      flex-wrap: wrap;
      top: 10%;
    }

    .cardid {
      margin-bottom: vars.$gutter;
    }
  }
  
}

@media screen and (max-width:1280px) {
  .nouscontacter {
    height: calc(100vh-133px);
  }
  
}

@media screen and (max-width:1024px) {
  .nouscontacter {
    height: calc(100vh-145px);
  }
  
}

@media screen and (max-width:974px) {
  .nouscontacter {
    height: 1424px;
  }
  
}

@media screen and (max-width:768px) {
  .nouscontacter {
    height: 1284px;
  }
  
}

@media screen and (max-width:480px) {
  .nouscontacter {
    height: 2080px;
  }
}
