@use 'src/styles/vars';

.critique-presse {
    width: 55%;
    border: vars.$color-blackgrey 1px solid;
    border-radius: 14px;
    background-color: white;

    &__titre {
            text-transform: uppercase;
            font-weight: 500;
            padding-top: vars.$gutter;
            display: flex;
            justify-content: center;
            color: vars.$color-green;
            font-weight: bold;
    }

    &__liste {

        padding: 0 vars.$gutter;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;


        &__logo {
            width: 50px;
            margin: vars.$gutter;
        }
    }
}