@use 'src/styles/vars';

.critique-form-link {

    width: 43%;

    &__container {
        width: 100%;
        height: 216px;
        background-color: vars.$color-green;
        border-radius: 14px;
        
        &__title {
            text-transform: uppercase;
            font-weight: 500;
            color: vars.$color-white;
            padding-top: vars.$gutter;
            display: flex;
            justify-content: center;

            &__black {
                color: vars.$color-blackgrey;
                font-weight: 500;
                padding-right: vars.$gutter*.4;
            }
        }

        &__icon {
            height: 70px;
            margin: vars.$gutter*2;

            
        }

    }
    
}