@use 'src/styles/vars';

.critiques {

    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;

    &__form-et-presse {
      display: flex;
      justify-content: space-between;
      margin-bottom: vars.$gutter*2;
    }
}

@media screen and (max-width:1280px) {
  .critiques__form-et-presse{
    flex-direction: column;
  }
}
