@use 'src/styles/vars';

.catalogueshelves {
  margin-left: vars.$gutter*1.5;
  width: 81%;
  height: 1400px;

  &__pages {
    position: relative;
    bottom: 65px;
    text-align: center;
    font-weight: 500;
  }
}
