$color-white: #fcfafb;
$color-blackgrey: #242424;
$color-lightgrey: #E2E2E2;
$color-green: #24816C;
$color-lightgreen: #D7F9F1;
$color-mediumgreen: #51d347; 
$color-blackgreen: rgb(18, 85, 69);
$color-grey: #8F8F8F;
$color-darkgreen: #BEDED7;
$color-yellow: #fff428;
$color-mediumyellow: #d8bf02;
$color-red : #F91B1B;
$color-lightred : #FF9191;
$color-purple: #7700FF;
$color-lightpurple: #C57CEF;
$gutter: 1rem;
