@use 'reset';
@use 'vars';


body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  height: 100vh;
  background: linear-gradient(white, vars.$color-lightgreen) fixed ;
  color: vars.$color_blackgrey;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
*/
