RewriteEngine On
# dynamically setup base URIRewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$RewriteRule ^(.*) - [E=BASE_URI:%1]
# redirect every request to index.php# and give the relative URL in "_url" GET paramRewriteCond %{REQUEST_FILENAME} !-dRewriteCond %{REQUEST_FILENAME} !-fRewriteCond %{HTTP:Authorization} ^(.*)RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]# rediriger TOUTES les requêtes qui mène au dossier dans lequel se trouve le .htaccess vers index.php# appeler /products => index.php?_url=/productsRewriteRule ^(.*)$ index.php [QSA,L]
