@use 'src/styles/vars';

.livreauteur {
  min-height: 350px;

  &__frame {
    margin-top: vars.$gutter*2;
    border: solid 1px vars.$color-blackgrey;
    border-radius: 14px;
    position: absolute;
    width: 825px;

    &__title {
      background: vars.$color-green;
      display: inline-block;
      padding: vars.$gutter*.5 vars.$gutter;
      border-radius: 5px;
      position: relative;
      top: -18px;
      left: -16px;
      text-transform: uppercase;
      color: vars.$color-white;
      font-weight: 500;
      font-size: .9em;
    }

    &__position {
      display: flex;
      overflow: scroll;

      &__flechedroite {
        height: 20px;
        transform: rotate(180deg);
        margin-bottom: 30px;
        
      }

      &__flechegauche {
        height: 20px;
        margin-bottom: 30px;

      }

      &__auteur {
        display: flex;
        width: 80%;
      }
    }
  }
  
}

@media screen and (max-width:1280px) {
  .livreauteur {
    width:100%; 
    &__frame {
      width: 95%;
    }
  }
}

@media screen and (max-width:768px) {
  .livreauteur__frame__title {
    font-size: .8em;
    padding: vars.$gutter*.5 vars.$gutter*.3;
    left: 0;
  }

  .livreauteur__frame__position__auteur {
    justify-content: flex-start;
    overflow-x: scroll;
    width: 100%;
  }
}

